.container__p1 {
   text-align: center;
}

.container__p1-cental {
    max-width: 70%;
    margin: 0 auto;
}

.container__p1-texto-lateral {
    width: 300px;
    text-align: justify;
    color: var(--cinza-claro);
}

.container__p1-sobre {
    color: var(--vermelho);
    font-weight: 600;
    margin: 4em 0;
}

.Container__p1-titulo {
    color: var(--preto);
    font-size: 48px;
    font-weight: 600;
}

.container__p1-texto {
    color: var(--cinza-claro);
    font-size: 20px;
    line-height: 30px;
    margin-top: 4em;
}