.containe__list {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2em auto;
}

ul {
    width: 65%;
    margin: auto;
    margin-top: 3em;
}

.list__titulo {
    font-weight: 500;
    font-size: 20px;
    color: var(--preto);
    margin: 1em 0;
}

.list__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 136px;
    border: 1px solid #6670851a;
    border-radius: 15px;
    padding: 1em;
    margin: 1em 0;
}

.list__texto {
    font-weight: 500;
    font-size: 18px;
    color: var(--preto);
}

.list__salario {
    font-weight: 500;
    color: var(--cinza-claro);
}

.list__span {
    margin-left: 2em;
}