@charset "UTF-8";
@import url('./header.css');
@import url('./container-p1.css');
@import url('./container-p2.css');
@import url('./containe-img.css');
@import url('./list.css');
:root {
    --font-principal: 'Inter', sans-serif;
    --cor-de-fundo: #FFFFFF;
    --cinza-escuro: #3A404E;
    --cinza-claro: #667085;
    --vermelho: #8E2424;
    --preto: #101828;
}

body {
    font-family: var(--font-principal);
    font-size: 16px;
    font-style: normal;
    background-color: var(--cor-de-fundo);
}

